body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4CAF50; /* Updated color */
}

.search-container, .results-container {
  text-align: center;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
}

.search-container h2, .results-container h2 {
  font-size: 1.8em;
}

#search-bar {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0b99ea; /* Updated color */
  color: #121212;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0b99ea; /* Updated color */
}

#follow-container {
  margin: 20px 0;
}

.instagram-follow-button {
  background-color: #e4405f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.instagram-follow-button:hover {
  background-color: #c5364f;
}

footer {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: static;
  bottom: 0;
  width: 100%;
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  color: #e0e0e0;
  text-decoration: none;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}

.social-links a:hover {
  color: #0b99ea; /* Updated color */
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
